{
    "repositories": [
        {
            "name": "{full_repo_name}",
            "branch": "master",
            "path": ["{full_repo_path}"],
            "events": {
                "push": {
                    "precommands": [],
                    "gitrestoreall": true,
                    "gitpull": true,
                    "postcommands": []
                }
            }
        }
    ]
}